<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AmazonChatSuite">

    <test name="AmazonChatTests">
        <classes>
            <!-- Full class name including package -->
            <class name="com.cabottesting.tests.AmazonChatTest"/>
        </classes>
    </test>

</suite>
